@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
    font-family: Quicksand;
}
header {
	display: block;
	height: 50px;
	color: white;
}
#headerButtons {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a:hover {
	background-color: #f39c12;
}
a {
	text-decoration: none;
	color: #0068b6;
	padding: 15px;
	float: left;
	background-color: #9be6ff;
	width: 55px;
	text-align: center;
}
h1 {
    font-family: Teko;
	margin-top: 35px;
	font-size: 50px;
	text-align: center;
	color: #f39c12;
    font-weight: 500;
}
p {
	color: #0068b6;
	line-height: 1.2em;
	background-color: white;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0;
}
.navButtonGallery {
	width: 75px;
}
.homepageMainP {
	align-self: center;
	padding: 20;
}
.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img1 img {
    height: 480px;
    width: auto;
    padding: 15px;
}
.img2 img {
    height: 480px;
    width: auto;
    padding: 15px;
}
.img3 img {
    height: 480px;
    width: auto;
    padding: 15px;
}
.img4 img {
    height: 480px;
    width: auto;
    padding: 15px;
}
