html {
	background-color: ;
}
header {
	display: block;
	height: 50px;
	color: white;
}
Image {
    display: flex; 
    height: 20;
	padding: 12px;
}
#headerButtons {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a:hover {
	background-color: #f39c12;
}
a {
	text-decoration: none;
	font-family: menlo;
	color: #0068b6;
	padding: 15px;
	float: left;
	background-color: #9be6ff;
	width: 55px;
	text-align: center;
}
h1 {
	margin-top: 35px;
	font-size: 50px;
	font-family: brushscriptmt;
	text-align: center;
	color: #f39c12;
}
p {
    display: flex;
	font-family: menlo;
	color: #0068b6;
	line-height: 1.5;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
}
.navButtonGallery {
	width: 75px;
}
.homepageMainP {
	align-self: center;
	padding: 20;

}

